.site-logo {
  display: flex;
  align-items: center;
  font-family: 'Canopee', serif;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: #111;
  user-select: none;
}
.logo-canopee {
  font-family: 'Canopee', serif;
  font-size: 2.2rem;
}
.logo-dot {
  color: #111;
  font-size: 2.6rem;
  font-family: 'Canopee', serif;
  margin-left: 0.1em;
}
